# registry=https://pkgs.dev.azure.com/powerbi/Trident/_packaging/Trident_PublicPackages/npm/registry/
@ms-ofb:registry=https://pkgs.dev.azure.com/office/_packaging/Office/npm/registry/
always-auth=true
